<header class="header fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a href="">
        <img src="assets/logo_piola.png" alt="Logo" class="logo">
      </a>
    </div>
    <nav class="nav-menu">
      <ul class="nav-list">
        <li><a class="nav-link" href="/customize">Diseñá</a></li>
        <li><a class="nav-link" href="/kids">Kids</a></li>
        <li><a class="nav-link" href="/teens">Teens</a></li>
        <li><a class="nav-link" href="/egresados">Egresados</a></li>
        <li><a class="nav-link" href="/customize">Basic</a></li>
      </ul>
    </nav>
    <div class="menu-toggle">
      <i class="fa-solid fa-bars"></i>
      <span class="menu">Menú</span>
    </div>
  </div>
</header> 
<!--    <div class="button-container nav justify-content-end">
        <button class="button">Diseñá</button>
        <button class="button">Jardin</button>
        <button class="button">Primaria</button>
        <button class="button">Secundaria</button>
        <button class="button">Clientes</button>
        <button class="button">Contacto</button>
    </div> -->

             <!-- <li class="nav-item">
              <a class="nav-link" ><i class="fa-brands fa-whatsapp"></i>WhatsApp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ><i class="fa-solid fa-envelope"></i>Contactanos</a>
            </li> -->