<header class="header">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <img src="assets/logo.jpg" href="/" alt="Logo" class="logo">
    <h1 class="title">Hey You</h1>
    <div class="button-container">
        <button class="button">Diseñá</button>
        <button class="button">Jardin</button>
        <button class="button">Primaria</button>
        <button class="button">Secundaria</button>
        <button class="button">Clientes</button>
        <button class="button">Contacto</button>
    </div>
    <div class="cart-container">
        <!-- Add your shopping cart icon here -->
        <i class="fas fa-shopping-cart"></i>
    </div>
</header>