<header class="header fixed-top">
    <div class="navbar-brand">
        <img src="assets/logo.jpg" href="/" alt="Logo" class="btn btn-sm">
    </div>
    <div class="container-fluid">
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa-brands fa-whatsapp"></i>WhatsApp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa-solid fa-envelope"></i>Contactanos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown" href="#" role="button" aria-expanded="false"><i class="fa-solid fa-bars"></i>Menú</a>
              
            </li>
          </ul>
    </div>

</header>

<!--    <div class="button-container nav justify-content-end">
        <button class="button">Diseñá</button>
        <button class="button">Jardin</button>
        <button class="button">Primaria</button>
        <button class="button">Secundaria</button>
        <button class="button">Clientes</button>
        <button class="button">Contacto</button>
    </div> -->