.header {
    background-color: #492A76;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px;
    margin-bottom: 10px;
    width: 100%; /* Make the header cover the whole width */
    border-top: 2px solid #4f2c85; /* Line above header */
    border-bottom: 2px solid #4f2c85; /* Line below header */
}

.btn {
    width: 100px; /* Adjust according to your logo size */
    height: auto;
    margin-right: 15px;
}

.title {
    color: #89ff958f;
    margin: 0;
    font-size: 26px;
    flex-grow: 1;
    font-family: cursive;
}

.nav-link {
    color: #89ff959d;
    background-color: transparent;
    border: none;
    padding: 10px 16px; /* Increase padding for larger buttons */
    font-size: 20px; /* Increase font size */
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition for color change */
    font-family: cursive;
}

.button:hover {
    color: #89ff957a; /* Darken text color on hover */
}

/* Reduce space between buttons */
.button + .button {
    margin-left: 5px;
}

.fa-whatsapp{
    margin-right: 7px;
    font-size: 25px;
}

.fa-envelope{
    margin-right: 7px;
}

.fa-bars{
    margin-right: 7px;
}