.footer{
    background-color: #e4e4e4;
    width: 100%;
	height: auto;
}
.footer--contenedor{
    display: flex;
    flex-direction: column;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.foot-2{
    text-align: center;
    font-family: Dela Gothic One;
    color: #4f2c85;
    background-color: #e4e4e4;

}
.contacto--hy{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-img{
    background-color: #e4e4e4;
    margin-top: 65px;
   
}
.COPYRIGH{
    background-color: #e4e4e4;
}

p{
    color:#4f2c85;
}
.contacto{
    font-family: Dela Gothic One;
    font-size: 30px;
}
.contacto2{
    font-size: 18px;
    margin-right: 20px;

}
@media (max-width: 576px) {
	.container-fluid{
        width: 1000px;
        height: auto;
		padding: 0;
	}
    .COPYRIGH{
        font-size: .5rem;
    }
}

 