<div class="container">
    <div class="row">
        <div class="col">
            <img src="assets/logo.jpg" alt="Logo">
            <h2 class="msg"> Tenemos todo para tu <br>
                promo, ¡este es tu año!</h2>   
        </div>
        <div class="col">
            <img src="assets/img48-u.jpg" class="img">
        </div>
    </div>
</div>
<div class="msg">
    <h2>Diseñamos estos combos para la banda</h2>
    <img src="assets/img54.jpg">
</div>
<div class="container">
    <div class="row">
        <h3>Pack FULL: campera + buzo + remera + chomba</h3>
    </div>
    <div class="row">
        <h3>Pack 2: buzo + remera + chomba</h3>
    </div>
    <div class="row">
        <h3>Pack 3: buzo + remara</h3>
    </div>
    <div class="row">
        <div class="col">
            <h3> PERSONALIZA TU BUZO ACÁ </h3>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg">DISEÑÁ TU COMBO</button>
        </div>
    </div>
</div>
<div class="msg">
    <h2>Hey You está en todas, ¡aprovechá estos beneficios</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col"> 
            <img src="assets/img35-u.jpg">
        </div>
        <div class="col"> 
            <img src="assets/bandera.jpg">
        </div>
        <div class="col"> 
            <img src="assets/seño.jpg">
        </div>
    </div>
</div>