<div class="container">
    <div class="row">
        <div class="col">
            <img src="assets/logo.jpg" alt="Logo">
            <div class="kids-msg mt-8 mb-5 text-center" style="margin-top: 20px;">
              <p style="font-size: 30px;">Elegí el combo de <a style="color: #4f2c85; font-size: 40px;"> remera +</a></p>
              <p style="font-size: 30px;"><a style="color: #4f2c85;font-size: 40px;">buzo </a>para la salita de jardin</p>
            </div>        
        </div>
        <div class="col">
            <img src="assets/niño.jpg" class="img">
        </div>
    </div>
</div>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img31.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img48-u.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img31.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="msg2">
    <h2>Hey You está en todas, ¡aprovechá estos beneficios!</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col"> 
            <img src="assets/img35-u.jpg">
        </div>
        <div class="col"> 
            <img src="assets/bandera.jpg">
        </div>
        <div class="col"> 
            <img src="assets/seño.jpg">
        </div>
    </div>
</div>