<div #asDiseñador class="container-fluid diseñador fadeInText" >
    <h1 class="title">¡La creatividad está a punto de despegar!</h1>
    <img class="imgBanner" src="assets/imgDiseña.jpg" alt="">
    <button #asComenzar  (click)="comenzar()" class="buttonComenzar" type="button">Comenzar</button>
</div>
<div #asDiseñadorBuzos class="container-fluid diseñador-buzos" hidden>
    <div class="row"> 
        <div class="col" style="margin-top: 110px;">
            <div class="wrapper">
                <ul>
                    <li  #asColorVioleta (click)="paint('#563d7c')" type="color" class="form-control form-control-color" id="bolsilloColor"   value="#563d7c" style="background-color: #563d7c;"></li>
                    <li #asColorRed (click)="paint('#FB0303')" type="color" class="form-control form-control-color" id="bolsilloColor"   value="#FB0303" style="background-color: #FB0303;"></li>
                    <li #asColorGreen (click)="paint('#79FB03')"  type="color" class="form-control form-control-color" id="bolsilloColor"   value="#79FB03" style="background-color: #79FB03;"></li>
                    <li #asColorCeleste  (click)="paint('#03FBC6')" type="color" class="form-control form-control-color" id="bolsilloColor"   value="#03FBC6" style="background-color: #03FBC6;"></li>
                    <li #asColor  (click)="paint('#FB039F')" type="color" class="form-control form-control-color" id="bolsilloColor" value="#FB039F" style="background-color: #FB039F;"></li>
                </ul>
                <ul>
                    <li (click)="estampadosW()"><img #asEstampados src="assets/textura1.jpg"></li>
                </ul>
            </div>     
            <button #asReverseButton type="button" id="reverse" (click)="reverse()">reverse</button>
            <button #asDeleteButton type="button" id="delete" (click)="deleteDesing()">Borrar diseño</button>
            <button  (click)="mangasFrenteCall()" type="button">Mangas</button>
        </div>
        
        <div class="col" >
            <div class="contenedor--imgFrente">
                <img #asFrenteImg class="img frente" id="frente" src="assets/buzo1_frente.png"  >
                <img #asMangasFrente class="img frente-mangas" src="assets/mangas_frente.png" hidden> 
                <img #asDorsoImg class="dorso" id="dorso"  src="assets/buzo1_dorso.png" hidden>
                <img #asMangasDorso class="frente-mangas" src="assets/mangas_dorso.png" hidden>
            </div>

        </div>
    </div>
</div>