<div class="container-fluid">
    <div class="row"> 
        <div class="col" style="margin-top: 110px;">
            <label for="exampleColorInput" class="form-label" for="capucha">capucha</label>
            <input type="color" class="form-control form-control-color" id="capuchaColor" value="#563d7c" title="Choose your color">
        
            <label for="exampleColorInput" class="form-label">mangas</label>
            <input type="color" class="form-control form-control-color" id="mangaColor" value="#563d7c" title="Choose your color">
        
            <label for="exampleColorInput" class="form-label">cuerpo</label>
            <input type="color" class="form-control form-control-color" id="cuerpoColor" value="#563d7c" title="Choose your color">
        
            <label for="exampleColorInput" class="form-label">bolsillo  </label>
            <input type="color" class="form-control form-control-color" id="bolsilloColor" value="#563d7c" title="Choose your color">
        </div>
        
        <div class="col" >
        <div style="margin-top: 110px;">
            <img id="capucha" style="margin-left: 300px; background-color: rgb(86, 61, 124);" src="assets/buzodiseño/capucha.png">
        </div>  
        <div style="margin-top: 5px;">
            <img  id="manga"  src="assets/buzodiseño/manga-r.png">
            <img id="cuerpo"  src="assets/buzodiseño/cuerpo.png">
            <img id="bolsillo"  src="assets/buzodiseño/bolsillo.png">
            <img id="manga"  src="assets/buzodiseño/manga-l.png">

        </div>
        </div>

    </div>

</div>