.slider-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-top: 90px;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  .slide img {
    width: 100%;
  }
  
  .prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #89FF95;
    font-size: 24px;
    cursor: pointer;
    border-color: #89FF95;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
.container-message{
  margin-top: 150px;
}

.home-message{
    font-family: 'Dela Gothic One';
}