.slider-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-top: 90px;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  .slide img {
    width: 100%;
  }
  
  .prev-button, .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #89FF95;
    font-size: 24px;
    cursor: pointer;
    border-color: #89FF95;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
.container-message{
  margin-top: 150px;
}

.home-message{
    font-family: 'Dela Gothic One';
}

.msg-consulta{
  font-size: 40px;
  text-align: center;
  font-family: 'Dela Gothic One';
  color: rgb(231, 118, 12);
}


.form-floating{
  margin-left:  220px;
  margin-right: 220px;
}


.form-control{
  border-radius: 35px;
}
.btn{
  border: 0;
  border-radius: 35px;
  background-color: rgb(231, 118, 12);
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-left: 220px;
  margin-right: 220px;
  height: auto;
  font-family: 'Dela Gothic One';
}
.btn:hover {background-color: rgba(231, 118, 12, 0.76);}
