
.container-fluid-home{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 2.5rem;
    
}
.titulo--home{
    font-family: 'Dela Gothic One';
    font-size: 3rem;
    opacity: 0;
    animation: fadeInText 0.8s ease-in forwards 1.7s; 
}
.texto--destacado{
  color: #4f2c85;
}
@keyframes fadeInText {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  }
}

.slider-container {
  position: relative;
  width: 100%;
  height: 30vw; /* Cambiamos a vw para mantener la relación de aspecto */
  max-height: 682px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #89FF95;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

  
  .prev-button,
  .next-button {
    padding: 8px 12px;
    font-size: 16px;
  }

  
  .prev-button,
  .next-button {
    padding: 6px 10px;
    font-size: 14px;
  }

.texto--subtitulo{
  font-family: 'Dela Gothic One';
  color: #4f2c85;
  text-align: center;
}
.container-card{
  display: flex;
  flex-flow: row wrap;
}


.msg-consulta{
  font-size: 40px;
  text-align: center;
  font-family: 'Dela Gothic One';
  color: rgb(231, 118, 12);
}

.redp{
  font-size:30px;
  font-family: 'Dela Gothic One'; 
  color:white; 
  text-align: center;
}
.container-fluid-redesbanner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/assets/sumate-nvo.jpg');
  width: 100%; 
  height: 30vh; 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}

  /*Formulario */
.container-fluid-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

.form-control{
  align-items: center;
  border-radius: 35px;
  width: 600px;
  border-color: grey;
}

.msg{
  resize: none;
}
.btn{
  border: 0;
  border-radius: 35px;
  background-color: rgb(231, 118, 12);
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-left: 220px;
  margin-right: 220px;
  height: auto;
  font-family: 'Dela Gothic One';
}
.btn:hover {background-color: rgba(231, 118, 12, 0.76);}

.btn-reunion{
    border: 0;
    border-radius: 35px;
    background-color: rgb(231, 118, 12);
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 100px; 
    margin-right: 220px;
    width: 60%;
    height: auto;
    font-family: 'Dela Gothic One';
  }
  .btn:hover {background-color: rgba(231, 118, 12, 0.76);} 

.envios{
  margin-right: 220px;

}

.container-fluid{
  margin-top: 45px;
}

.sumate{
  margin-top: 45px;
}

@media (max-width: 1200px) {
 

  .envios {
      margin-right: 150px;
  }
}

@media (max-width: 992px) {
  .form-floating, .btn {
      margin-left: 100px;
      margin-right: 100px;
  }

  .envios {
      margin-right: 100px;
  }
}

@media (max-width: 768px) {

  .form-floating, .btn {
      margin-left: 50px;
      margin-right: 50px;
  }

  .envios {
      margin-right: 50px;
  }

  .msg-consulta {
      font-size: 30px;
  }
  
  .slider-container {
    height: 60vw; /* Aumentamos la altura para dispositivos más pequeños */
    
  }
}



.promo-text {
  font-size: 40px;
  font-family: 'Dela Gothic One';
  color: #4f2c85;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .promo-text {
      font-size: 30px;
      margin-left: 0;
  }

  .btn {
      margin-top: 20px;
  }
  .ser-parte-nvo{
    margin-top: 20px;
  }
}
@media (max-width: 623px) {
  .container-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    
  }
  .img-card{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 250px;
    height: 250px;
  }
  .titulo--home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
   
  }
  .container-fluid-home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
      margin-left: 5rem;
  }
  .form-floating, .btn {
      margin-left: 20px;
      margin-right: 20px;
  }

  .container-fluid-enviosimg {
      margin-right: 20px;
  }

  .slider-container {
      height: 400px;
  }

  .prev-button, .next-button {
      font-size: 20px;
  }

  .msg-consulta {
      font-size: 25px;
  }
  
}

@media (max-width: 480px) {
  .titulo{
    text-align: center;
    font-size: 1.85rem;
  }
  .slider-container {
    display: flex;
   margin-right: 18px;
    width: 90%;
    height: 70vw; /* Aumentamos aún más para móviles */
  }
  .container-card{
    display: flex;
    flex-direction: column;
  }
  .img-fluid-card{
    width: auto;
    height: 70vh;
  }
  .subtitulo{
    text-align: center;
    font-size: 1.8rem;
  }
  .container-fluid-redesbanner{
    height: 20vh;
    margin-top: 20px;
    display: felx;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-fluid-form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  .formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    

  }
 }
